@import "variables";
@import "typography";

.card {
  padding: $spacer-medium;
  border: 2px solid $color-border;
  border-radius: $border-radius;
  font-family: $font-stack-sans;
  box-shadow: $shadow-card;
  background-color: $color-background;
  max-width: 50rem;
  position: relative;
}

.card-heading {
  color: $color-text-primary;
  font-size: $font-size-heading;
  font-weight: $font-weight-black;
  margin-bottom: $spacer-small;
  line-height: 1;
}

.secondary-information-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $spacer-small;
}

.secondary-information {
  text-transform: uppercase;
  font-size: $font-size-uppercase;
  letter-spacing: $letter-spacing-uppercase;
  color: $color-text-secondary;
  font-weight: $font-weight-bold;
}

.min-read-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.margin-left-very-small {
  margin-left: $spacer-very-small;
}

.margin-right-mini {
  margin-right: $spacer-mini;
}

.margin-right-small {
  margin-right: $spacer-small;
}

.margin-bottom-large {
  margin-bottom: $spacer-large;
}

.margin-bottom-very-large {
  margin-bottom: $spacer-very-large;
}

.tags-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $spacer-small-plus;
}

.tags-div > :not(:last-child) {
  margin-right: $spacer-small;
}

.tag {
  color: $color-text-primary-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-secondary;
  background-color: $color-background-dark;
  border-radius: 10rem;
  padding: 0.8rem 1.6rem;
}

.excerpt {
  color: $color-text-primary;
  font-size: $font-size-normal;
  font-family: $font-stack-serif;
  margin-bottom: $spacer-medium;
  line-height: 1.5;
  max-width: 50rem;
}

.read-article-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
}

.read-article-text {
  color: $color-primary-600;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  margin-right: $spacer-small;
}

.new {
  position: absolute;
  left: -1.6rem;
  top: -1.6rem;
  color: $color-text-primary-white;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-uppercase;
  padding: 1.6rem 0.7rem;
  font-size: $font-size-uppercase;
  background-color: $color-background-dark;
  border-radius: 100%;
  line-height: 1;
  font-weight: $font-weight-black;
}

.no-shadow {
  box-shadow: none;
}

a {
  text-decoration: none;
}

.dots {
  z-index: -1;
}

.dots-left {
  position: absolute;
  left: 0;
  bottom: -$spacer-medium;
  transform: translateX(-50%);
}

.dots-right {
  position: absolute;
  right: 0;
  top: -$spacer-medium;
  transform: translateX(50%);
}

@media screen and (max-width: $breakpoint-mobile) and (-webkit-min-device-pixel-ratio: 1) {
  .card {
    padding: $spacer-medium;
    max-width: 40rem;
  }

  .card-heading {
    font-size: $font-size-heading-mobile;
    margin-bottom: $spacer-very-small;
  }

  .secondary-information-div {
    margin-bottom: $spacer-very-small;
  }

  .secondary-information {
    font-size: $font-size-uppercase-mobile;
  }

  .tags-div {
    margin-bottom: $spacer-very-small-plus;
  }

  .tags-div > :not(:last-child) {
    margin-right: $spacer-very-small;
  }

  .tag {
    font-size: $font-size-secondary-mobile;
  }

  .excerpt {
    font-size: $font-size-normal-mobile;
    margin-bottom: $spacer-small;
  }

  .read-article-text {
    font-size: $font-size-normal-mobile;
  }

  .new {
    font-size: $font-size-uppercase-mobile;
  }

  .dots-left {
    position: absolute;
    left: 0;
    bottom: -$spacer-medium;
    transform: translateX(-80%);
  }

  .dots-right {
    position: absolute;
    right: 0;
    top: -$spacer-medium;
    transform: translateX(80%);
  }

  .margin-bottom-very-large {
    margin-bottom: $spacer-large;
  }
}

@media screen and (max-width: $breakpoint-iphone) and (-webkit-min-device-pixel-ratio: 1) {
  .card {
    text-align: center;
  }

  .card-heading {
    margin-bottom: $spacer-small;
  }

  .secondary-information-div {
    flex-flow: column nowrap;
    align-items: center;

    & > :first-child {
      margin-bottom: $spacer-very-small;
    }
  }

  .tags-div {
    justify-content: center;
    margin-bottom: $spacer-small;
  }

  .excerpt {
    margin-bottom: $spacer-medium;
  }

  .read-article-button {
    justify-content: center;
  }
}
