@import "variables";
@import "typography";

.landing-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  color: $color-text-primary;
}

.giving-back-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: $spacer-very-large;
  width: 90%;
}

.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.article-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
}

.two-choices-wrapper {
  background-color: $color-background-dark;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: $spacer-very-large 0;
  margin-bottom: $spacer-very-large;
}

.two-choices-div {
  background-color: $color-background-dark;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
}

.two-choices-text-div {
  margin-bottom: $spacer-large;
}

.two-choices-cards-div {
  display: flex;
  flex-flow: row nowrap;

  & > :first-child {
    margin-right: $spacer-medium;
  }
}

.heading {
  font-size: $font-size-heading;
  font-family: $font-stack-sans;
  font-weight: $font-weight-black;
  margin-bottom: $spacer-medium;
  max-width: 60rem;
}

.light {
  color: $color-text-primary-white;
}

.muted-light {
  color: $color-text-secondary-white;
}

.margin-bottom {
  margin-bottom: $spacer-small;
}

.margin-bottom-large {
  margin-bottom: $spacer-large;
}

.normal-text {
  max-width: 60rem;
  font-size: $font-size-normal;
  font-family: $font-stack-serif;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

.circle-red {
  position: absolute;
  right: 0;
  top: -$spacer-medium;
}

.circle-green {
  position: absolute;
  left: 0;
  top: -$spacer-medium;
}

.circle-green-article {
  position: absolute;
  right: 0;
  top: -$spacer-large;
  transform: rotate(180deg);
}

.circle-red-article {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) and (-webkit-min-device-pixel-ratio: 1) {
  .circle-red,
  .circle-green-article {
    right: -$spacer-large-plus;
  }

  .circle-green,
  .circle-red-article {
    left: -$spacer-large-plus;
  }
}

@media screen and (max-width: $breakpoint-mobile) and (-webkit-min-device-pixel-ratio: 1) {
  .card-div {
    width: 90%;
  }

  .heading {
    font-size: $font-size-heading-mobile;
    margin-bottom: $spacer-small;
  }

  .normal-text {
    font-size: $font-size-normal-mobile;
  }

  .giving-back-div {
    margin-bottom: $spacer-large;
  }

  .two-choices-wrapper {
    padding: $spacer-large 0;
    margin-bottom: $spacer-large;
  }

  .two-choices-text-div {
    margin-bottom: $spacer-medium;
  }

  .two-choices-cards-div {
    flex-flow: column nowrap;
    align-items: center;

    & > :first-child {
      margin-right: 0;
      margin-bottom: $spacer-medium;
    }
  }

  .margin-bottom-large {
    margin-bottom: $spacer-medium;
  }

  .circle-red,
  .circle-green,
  .circle-red-article,
  .circle-green-article {
    display: none;
  }
}
