@import "variables";

.navbar-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-text-secondary;
  font-size: $font-size-uppercase;
  letter-spacing: 0.15em;
  font-weight: $font-weight-bold;
  border-bottom: 1px solid transparent;
}

.navbar-link:hover {
  color: $color-primary-600;
}

.right-margin {
  margin-right: 3.2rem;
}

.active {
  color: $color-text-primary;
  font-weight: $font-weight-black;
}
